{% include 'includes/header.html' %}

{% include 'includes/nav.html' %}
<br><br><br><br>
<div class="container" style="text-align: center">
    <div class="row">
        {% for mass in mass_list %}
            <div class="col-4">
                <h6>{{ mass.mass_name }}</h6>
            </div>
        {% endfor %}
    </div>
    <div class="row">
        {% for mass_no in mass_no_of_mem %}
            <div class="col-4">
                <p>{{ mass_no }} member(s)</p>
            </div>
        {% endfor %}
    </div>
    <br><br>
    <h5>Total: {{ total_count }}</h5>
    <br><br><br>
    <div class="row">
        {% if total_count %}
        <div class="col-6">
        <form action="" method="POST">
            {% csrf_token %}
            <button type="submit" class="btn btn-outline-secondary">SAVE TO FILE</button>
        </form>
        </div>
        {% endif %}
        <div class="col-6">
            <a href="{% url 'attendance:files' %}" class="btn btn-outline-secondary">View Files</a>
        </div>
    </div>
</div>
<br><br><br><br><br>

{% include 'includes/footer.html' %}
