{% load static %}
{% include 'includes/header.html' %}

{% include 'includes/nav.html' %}

<div class="container" style="text-align: center">
    <br><br>
    <h5>{{ today }}</h5>
    <h5>{{ mass_name }} ({{ no_of_members }})</h5>
    <br>


    <div class="row" style="text-align: center">
        <div class="col-6">
            <form action="{% url 'attendance:mass' pk %}" method="post">
                {% csrf_token %}
                <button class="btn btn-outline-secondary" name="mass_dashboard" type="submit">Go to Mass Dashboard</button>
            </form>
        </div>
        <div class="col-6">
            <form action="{% url 'attendance:new-member' pk %}" method="post">
                {% csrf_token %}
                <button class="btn btn-outline-secondary" name="add_new" type="submit">ADD NEW</button>
            </form>
        </div>
    </div>
    <br><br>
    {% if error_msg %}
        <h5>{{ error_msg }}</h5>
    {% elif selected_member %}
        <h5>{{ selected_member.member_name }} has been added for {{ mass_name }}</h5>
        <br><br>
    {% endif %}
    <form action="" method="POST">
        {% csrf_token %}
        <div class="row">
            <div class="col-12">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Enter Member Name" aria-label="Member Name" aria-describedby="button-addon2" name="_name_">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="submit" id="button-addon2" name="search">Search</button>
                    </div>
                </div>
            </div>


        </div>
    </form>
    <form action="" method="post">
        {% csrf_token %}
        {% if queryset %}
            <table class="table">
                <tr>
                    <th scope="col">NAME</th>
                    <th scope="col">PHONE NO</th>
                    <th scope="col">ADDRESS</th>
                </tr>
                {% for member in queryset %}
                    <tr>

                        <td><input type="radio" name="member_id" id="member{{ forloop.counter }}" value="{{ member.id }}">  {{ member.member_name }}</td>
                        <td>{{ member.member_phone_no }}</td>
                        <td>{{ member.member_address }}</td>
                    </tr>
                {% endfor %}
            </table>

            <div class="row">
                <div class="col-12">
                    <button type="submit" class="btn btn-outline-secondary" name="select_member">Add Selected</button>
                </div>
            </div>
        {% elif search_name %}
            <h6>No Member name contains {{ search_name }} </h6>
        {% else %}
            <h6>Search for a Member</h6>
        {% endif %}
    </form>
</div>
<br><br><br>


{% include 'includes/footer.html' %}